*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("./1-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 600px;
    /* If needed, enable flex to center children: */
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   
}

.form h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form input{
    display: block;
    padding: 10px ;
    margin: 10px 0;
    width: 400px;
    font-size: 20px;
}

.form button{
    display: block;
    margin: 20px auto; /* centers horizontally */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-input{
    position: relative;
    width: 400px; /* match .form input width */
    margin: 10px 0;
}
.icon-input i{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 18px;
    pointer-events: none;
}
.icon-input input{
    padding-left: 42px; /* space for the icon */
    width: 100%;
    box-sizing: border-box;
}
