<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div>
        <div class="parent">
            <p class="child1">The Lost World</p>
            <p class="child2">The Lost Life</p>
            <p class="child3">The Lost Mind</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis odio recusandae dolores nobis aliquid
                natus optio sint earum maiores sed tempore animi quos rerum consectetur cumque culpa, ad repudiandae
                beatae.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore dolores rem exercitationem. Iusto
                veritatis dignissimos magni tempore dolore consectetur veniam sunt beatae, corporis aperiam. Labore
                doloremque reiciendis aliquam voluptates laborum!</p>
                
        </div>
    </div>

</body>

</html>