body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}


.calculator {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


#display {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #e0e0e0;
}


button:hover {
    background: #d0d0d0;
}

.operator {
    background: #ffb703;
}


.equal {
    background: #219ebc;
    color: white;
}


.clear {
    background: #e63946;
    color: white;
}