* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.abc {
    font-size: 40px;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: underline;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-image: url("https://th.bing.com/th/id/R.232d0271d4d694c5ab7865b596cefad4?rik=d00fGgdIb71x8g&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive.eot');
}

h1 {
    font-family: ChunkFiveRegular, Georgia, serif;
}




.def {
    font-weight: bold;
    font-style: italic;
    word-spacing: 0.8em;
    text-transform: uppercase;
}

.def::first-letter{
    font-size: 40px;
}

.gh::first-line{
    font-weight: bold;
}

.gh{
    background-color: lightsalmon;
    text-shadow: 1px 2px 2px black;

}

a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: rgb(42, 219, 26);
}