
body{
    background: black;
}

.Color{
    
    /* color; */
    color: green;

    /* background-color; */
    background-color: yellow;
}

.color1{

    /* color; */
    color: #ff5733;
    
    /* background-color; */
    background-color: #342234;

    /* contrast */
    opacity: 0.8;
}
.color2{

    /* color; */
    color: hsl(240, 100%, 50%);

    /* background-color; */
    background-color: hsl(240, 100%, 90%);
}
.color3{

    /* color; */        
    color: rgba(255, 0, 0, 0.5);

    /* background-color; */
    background-color: rgba(0, 0, 255, 0.2);
}
